.reports-container{
  min-height:100%;
  .reports-navigator{
    min-height:100%;
    background: #fff;
    border-right:#ccc solid 1px;
    border-bottom: #ccc solid 3px;
    padding: 0;;
    .reports{
      position:relative;
      padding: 10px;
      cursor:pointer;
      i{
        float:right;
        font-size: 20px;
      }
    }
    .reports:hover{
      background: #e0dee5;
    }
    .reports.selected{
      background: #EAF4FF;
      font-weight: bold;
      color:#4285f4;
    }

  }
  .filtersForm{
    margin: 10px;
    padding: 10px;
  }
  .print-preview{
    margin: 10px;
    padding: 10px;
    table{
      width:100%;
      background: none;
      td{
        padding: 2px 3px;
      }
      th{
        padding: 2px 3px;
        border:#666 solid 1px;
      }
    }
  }
}