.reports-container{
  .reports-navigator{
    margin-top: 19px;
    padding: 0;
    .reports{
      padding: 10px;
      cursor:pointer;
      i{
        float:right;
        font-size: 20px;
      }
    }
    .reports:hover{
      background: #e0dee5;
    }
    .reports.selected{
      background: #4390df ;
      color: #fff;
    }

  }
  .filtersForm{
    margin: 20px;
  }
}