.resources{
  min-height: 100%;
  .resourcesNavigator{
    min-height:100%;
    background: #fff;
    border-right:#ccc solid 1px;
    border-bottom: #ccc solid 3px;
    padding: 0;
    .resource{
      padding: 10px 10px;
      display: block;
      float: none;
      position: relative;
      color:#333;
      i{
        float:right;
        font-size: 20px;
      }
    }
    .resource:hover{
      background: #e0dee5;
    }
    .resource.selected{
      background: #EAF4FF;
      font-weight: bold;
      color:#4285f4;
    }
  }
}