$header-height: 50px;
$header-background:#4390df;
header {
  position: relative;
  display: block;
  height: $header-height;
  background:$header-background;
  font-size: 1.7em;
  color:#fff;
  i{
    font-size: 1.5em;
  }
}

