$header-height: 50px;
$header-background:#4390df;
header {
  position: relative;
  display: block;
  height: $header-height;
  background:$header-background;
  font-size: 1.7em;
  color:#fff;

  .navigate{
    display: inline-block;
    color: #fff;
    font-size: 0.6em;
    position: absolute;
    top: 7px;
    i{
      font-size: 1.8em;
    }
  }
  .state-label{
    font-size: 1.4em;
    text-align: center;
    font-weight:300;
  }
  .logout{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 11px 18px;
    font-size: 0.6em;
    i{
      font-size: 2.4em;
    }
    div{
      display: inline-block;
      float: left;
      padding-top: 7px;
      padding-right: 10px;
    }
  }
  .logout:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
  }
  .languages{
    position: absolute;
    top: 0;
    right: 140px;
    padding: 19px 18px;
    font-size: 0.6em;
    overflow: visible;
    z-index: 9999;
    cursor: pointer;
    .current-language{
      i{
        font-size: 1.2em;
        margin-left:5px;
      }
    }
    .language-dropdown{
      .arrow-up {
        position: absolute;
        top:-10px;
        left: 18px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
      display: none;
      position: absolute;
      top: 50px;
      background: #FFFEFE;
      border: solid 1px #DFDFDF;
      color: #333;
      left: 0;
      white-space: nowrap;
      .language{
        padding: 3px 15px;
      }
      .language:hover{
        background: #4390df;
        color:#fff;
        cursor:pointer;
      }
    }
  }
  .languages:hover .language-dropdown{
    display: block;
  }
}

