$header-height: 50px;
$header-background:#4390df;
header {
  position: relative;
  display: block;
  height: $header-height;
  background:$header-background;
  font-size: 1.7em;
  color:#fff;

  .navigate{
    display: inline-block;
    color: #fff;
    font-size: 0.6em;
    position: absolute;
    top: 7px;
    i{
      font-size: 1.8em;
    }
  }
  .state-label{
    font-size: 1.6em;
    text-align: center;
  }
  .logout{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 11px 18px;
    font-size: 0.6em;
    i{
      font-size: 2.4em;
    }
    div{
      display: inline-block;
      float: left;
      padding-top: 7px;
      padding-right: 10px;
    }
  }
  .logout:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
  }
}

