section.main-container{
  $padding-td: 3px 5px;
  background: #FAFAFA;
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  .dropdown-menu ul li a{
    color:#fff;
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background: rgba(104, 178, 253, 0.27);
  }
  .custom-grid-container{
    margin:10px;
  }
  .input-control.checkbox.nopadding {
    padding: 0;
    margin: 0;
  }
  input.form-control{
    height: 25px;
    padding: 0 3px;
    font-size: 12px;

  }
  button{
    height: 25px;
    padding: 2px 10px;
  }
  .table {
    white-space: nowrap;
    input.form-control{
      min-width: 80px;
    }
    .table-header-group{
      display: table-header-group;
    }
    .table-body-group{
      display: table-row-group;
    }
    .table-row{
      display:table-row;
      .table-cell{
        display: table-cell;
        padding: 1px 10px;
      }

      .table-input{
        display: table-cell;
        padding: 0;
        vertical-align: top;
        .selectize-control.single .selectize-input{
          padding: 7px;
          border-radius: 0;
          background: none;
        }
        .selectize-dropdown{
          top:34px;
          border-radius: 0;
        }
        .selectize-dropdown .active {
          color: #FFFFFF;
          background-color: #67BEF3;
        }
      }
      .table-head{
        display: table-cell;
        padding: 0 10px;
        border-bottom: 1px solid #999;
      }
    }
    .table-row.selected:nth-child(n){
      background: #D3D3D3;
      color:#fff;
    }
    .table-row:nth-child(2n){
      background: rgba(255,255,255,0.9);
    }

    tbody {
      tr {
        td {
          padding: $padding-td;
          white-space: nowrap;
        }
      }
    }
    thead {
      tr {
        th {
          padding: $padding-td;
        }
      }
    }
  }
  .pagination > li > a,
  .pagination > li > span {
    padding: 1px 8px;
  }
  .loading-animation{
    position: absolute;
    bottom: 0px;
    right: 55px;
    z-index: 999;
    display:none;
  }
  .loading-animation2{
    position: absolute;
    bottom: 25px;
    right: 25px;
    border: solid 1px #ccc;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    display: none;
    z-index: 999;
    i{
      font-size:30px;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function:linear;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-play-state: running;
      color: rgb(131, 170, 255);
    }
  }
  .nomargin{
    margin:0;
  }
}
@-webkit-keyframes spin {
  from  { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

body.metro div, body.metro span, body.metro p{
   font-family: 'Open Sans', sans-serif;;
}