<header class="clearfix">
    <div class="logo">
        <a href="#/"> Jongis </a>
    </div>
    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li class="text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Lisa Doe">Lisa Doe</span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="My Tasks">My Tasks</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock">Lock</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/signin">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <span>Choose language</span>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li><a ng-click="changeLanguage('en')"><span>EN</span></a></li>
                    <li><a ng-click="changeLanguage('mk')"><span>MK</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
