.custom-grid-container {
  background: #fff;
  .table-actions {
    .action-buttons{
      padding: 21px 10px 0 40px;
    }

  }
  .table-container{
    overflow:auto;
  }
  .dropdown_container{
    display: inline-block;
    float: left;
    padding-bottom: 5px;
    .dropdown_label{
      display: inline-block;
      padding: 4px 10px;
    }

  }
  .dropdown_container:hover > .dropdown-menu{
    display: block;
  }
  .dropdown_container:hover > .dropdown_label{
    background: #ddd;
  }


}
.metro .input-control.checkbox{
  margin:0;
}