.custom-date {
  position: relative;
  .datepicker-holder {
    float: left;
    margin-top: 25px;
  }
  .grid-no-padding {
    padding: 0;

  }

  .date-plus-number{
    width:30px;
    position:absolute;
    right: 36px;
    top: 0;
    height: 34px;
  }
  .date-btn{
    position:absolute;
    right: 0;
    top: 0;
  }
}
section.main-container .table input.form-control.date-input{
  min-width: 140px;
}
.custom-spinner {
  position: relative;
  .spinner-btn-group{
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
  }
  button.btn-arrows {
    height: 25px;
    width: 17px;
    position: absolute;
    top: 0;
    & + .btn-arrows {
      margin-top: 0;
      right:17px;
    }
  }
}
.auto-complete{
  position:relative;
  ul{
    position: absolute;
    top:0;
    left:0;
    .selected{
      background: #5c7cff;
      color:#fff;
    }
  }

}