.custom-date {
  .datepicker-holder {
    margin-top: 25px;
  }
  .grid-no-padding {
    padding: 0;

  }
}

.custom-spinner {
  position: relative;
  .spinner-btn-group{
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
  }
  button.btn-arrows {
    height: 25px;
    width: 17px;
    position: absolute;
    top: 0;
    & + .btn-arrows {
      margin-top: 0;
      right:17px;
    }
  }
}
.auto-complete{
  position:relative;
  ul{
    position: absolute;
    top:0;
    left:0;
    .selected{
      background: #5c7cff;
      color:#fff;
    }
  }

}