<div class="custom-spinner row">
    <div class="col-sm-2">
        <label>{{ inputLabel }}</label>
    </div>
    <div class="col-sm-4">
        <div>
            <input type="text" class="form-control"
                   dynamic-name="inputName"
                   ng-required="{{ inputRequired }}"
                   ng-model="inputModel"
                   notification-messages>

        </div>
        <div class="notification-messages">
        <!-- Dependent of notification-messages directive in input -->
        <p class="text-danger" ng-show="showRequiredMessage()">Required field</p>
        <p class="text-danger" ng-show="showPatternMismatchedMessage()">{{ inputPatternMsg }}</p>
        </div>
    </div>
</div>