<div class="table-cell" ng-if="gridOptions.permissions.select">
    <div class="input-control checkbox nopadding">
        <label>
            <input type="checkbox" ng-model="selectedItems[row.id]" />
            <span class="check"></span>
        </label>
    </div>
</div>
<div class="table-cell" data-ng-repeat="element in config.order"  ng-switch on="config[element].type" ng-show="config[element].visible==1">
    <span ng-switch-when="text">{{row[element]}}</span>
    <span ng-switch-when="number">{{row[element]}}</span>
    <span ng-switch-when="dependency">{{row[element]|number}}</span>
    <span ng-switch-when="autocomplete">{{row[config[element].resource][config[element].field]}}</span>
    <span ng-switch-when="date">{{row[element]|customDate:'dd.MM.yyyy'}}</span>
</div>

<div class="table-cell" ng-if="gridOptions.permissions.editResource">
    <button class="btn btn-primary btn-xs" ng-click="editDataRow(row.id,$index)">Edit</button>
</div>
