<tr>
    <th ng-if="gridOptions.permissions.select">
        <label class="ui-checkbox">
            <input type="checkbox" ng-change="selectAllRows(event)" ng-model="protoModels.selectAllToggle">
            <span></span>
        </label>
    </th>

    <th ng-repeat="element in config.order" ng-click="orderColumn($index)" bindonce>
        <span>{{config[element].label}}</span>
        <span ng-class="{true: 'glyphicon-chevron-up', false: 'glyphicon-chevron-down'}[$parent.gridOrder.reverse]" class="glyphicon pull-right"
              ng-show="$parent.gridOrder.orderColumn==$index">
        </span>
    </th>
</tr>