<div class="table-actions" layout="horizontal" layout-padding>

    <md-text-float ng-if="gridOptions.permissions.search" label="Search" ng-model="$parent.searchField" aria-label="search" class="long"> </md-text-float>
    <md-text-float type="number" label="Page size" ng-model="pagination.pageSize" ng-pattern="/^[1-9][0-9]*$/" aria-label="search"> </md-text-float>
    <div class="action-buttons">
        <div class="dropdown_container" ng-if="gridOptions.permissions.filterColumns">
            <div class="dropdown_label" for="columns">
                <i class="fa fa-columns"></i>
            </div>
            <ul class="dropdown-menu" data-role="dropdown">
                <li role="presentation" ng-click="showAllColumns()">
                    <a>Show all columns</a>
                </li>
                <li class="menu-title">Columns</li>
                <li ng-repeat="column in config.order">
                    <div class="input-control checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-checked="config[column].visible"
                                   ng-model="config[column].visible"/>
                            <span class="check"></span>
                            {{ config[column].label }}
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <md-button class="md-warn md-raised" ng-click="deleteResources()"
                   ng-if="gridOptions.permissions.deleteResource" aria-label="delete">
            <i class="fa fa-trash-o"></i>
        </md-button>

        <md-button class="md-primary md-raised" ng-click="addNewResource()"
                   ng-if="gridOptions.permissions.addResource" aria-label="add">
            <i class="fa fa-plus"></i>
        </md-button>
    </div>
</div>