<form name="{{ gridOptions.formName }}" ng-show="formData" class="js-input-container table-row" novalidate>
    <div class="table-cell"></div>
    <div class="table-cell js_submit_form">
        <div>
            <button ng-disabled="isFormValid()" type="submit" class="info" ng-click="submitForm()">Submit</button>
        </div>
        <div>
            <button data-ng-disabled="requestInProgress" type="button" class="warning" ng-click="cancelForm()">Cancel
            </button>
        </div>

    </div>
</form>