<div class="resources" ng-controller="resourcesCalculationsPageController" layout="horizontal">
    <md-content class="resourcesNavigator" flex="20">
        <div class="resource " ng-class="{true:'selected'}[$parent.selectedResource==$index]"
             data-ng-repeat="item in resources" ink-ripple
             ui-sref="retail.resources.resource({resource:item.resource})"
             ng-click="$parent.selectedResource=$index">
            {{item.name|translate}}
            <i ng-class="{true:'fa fa-angle-right'}[$parent.selectedResource==$index]"></i>
            <div class="md-ripple-container"></div>
        </div>
    </md-content>
    <div ui-view flex>
    </div>
</div>