@import "headers/headers";

@media screen {
  .print-viewport {
    visibility: hidden;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0mm;
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: serif;
  }
  .header-container,
  .main-viewport,
  .main-container,
  header{
    display: none !important;
  }
}

.print-viewport,
.init-print-viewport {
  font-size: 13pt;

  .print-page {
    position: relative;
    margin: 0;
    width: 210mm;
    height: 296mm;
    padding: 10px;
    border: 1px solid #000;
    page-break-after: always;
    .print-header {

    }
    table{

      font-size:12pt;
      width: 100%;
    }
    th{
      border:1px solid #666;
    }
    tr {
      margin:0;
    }
    tr.account{
      border-top:1px solid #666;
    }
    tr.class{
      border-top:2px solid #666;
    }
    tr.print-table-header{
      border-bottom:2px solid #666;
    }

    td {
      padding: 2px 5px;
    }
  }
  .print-page:nth-child(2n) {
    color: red;
  }
  td{
    font-size:12pt !important;
  }

}